<div class="row">
  <div class="col-lg-6">
    <input id="email" type="text" class="form-control" placeholder="Email">
    <%= link_to "Submit", about_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>