<div class="row">
  <div class="col-md-4">
    <section class="user-profile">
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <span>50</span>
        <span>Posts</span>
      </div>
    </section>
  </div>
  <div class="col-md-8">

  </div>
</div>